@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.row{
    display: flex;
    flex-direction: row;
    width: auto;
}

.col{
    display: flex;
    flex-direction: column;
    padding-right: 16px;
}

.textcontainer{
    display: flex;
    align-content: center;
    flex-direction: row;
}

h1{
    display: flex;
    text-align: center;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 24px;
    font-weight: 400;
    position: center;
}


.flagcontainer{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 180px;
    border: 1px solid black;
}

.flag1_color1_easy{
    background-color: green;
    width:33.3%;
    height: 100%;
}

.flag1_color2_easy{
    background-color: white;
    width:33.3%;
    height: 100%;
}

.flag1_color3_easy{
    background-color: red;
    width: 33.3%;
    height: 100%;
}

.flag2_color1_medium{
    background-color: white;
    height: 120px;
    width: 180px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.innerlogo_1{
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 50%;
    
}

.flag3_color1_hard{
    background-color: white;
    height: 120px;
    width: 180px;
}

.innerlogo_2{
    margin-top: 50px;
    width: auto;
    height: 20%;
    background-color: red;
}

.innerlogo_3{
    position
    margin-left: 80px;
    width: 20px;
    height: 120px;
    background-color: red;
}